@charset "utf-8";
/* BGN import compass */
/* line 14, ../sass/common.scss */
body {
  font-family: Futura;
  background: #000;
  width: 100%;
  height: 2000px;
}

/* line 21, ../sass/common.scss */
section.circle {
  width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

/* line 28, ../sass/common.scss */
h1 {
  color: white;
}

/* line 32, ../sass/common.scss */
a {
  text-decoration: none;
  color: #f00;
}

/* line 38, ../sass/common.scss */
.normalBtn, .appealBtn, .lightBtn, label, .modal .modalContent ul.menuList li a {
  width: 120px;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5500), to(#ff3300));
  display: block;
  border: 1px solid #f00;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  box-shadow: 0 4px 0px #820;
  margin: 5px auto;
  padding: 0;
  font-size: 14px;
}

/* line 60, ../sass/common.scss */
.normalBtn:hover {
  box-shadow: 0px 2px 5px #222 inset;
  margin-top: 10px;
  border: 1px solid transparent;
}

/* line 67, ../sass/common.scss */
.appealBtn, .lightBtn {
  box-shadow: none;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#aa0000));
  border: 2px solid #ff0;
}
/* line 76, ../sass/common.scss */
.appealBtn:hover, .lightBtn:hover {
  -webkit-animation: buruburu 2s  ease-in-out infinite 1s;
}

@-webkit-keyframes buruburu {
  /* line 82, ../sass/common.scss */
  0%,99.999%,100% {
    -webkit-transform: rotate(0deg);
  }

  /* line 85, ../sass/common.scss */
  40% {
    -webkit-transform: rotate(0deg);
  }

  /* line 88, ../sass/common.scss */
  42%,44%,46%,48%,52%,54%,56%,58% {
    -webkit-transform: rotate(10deg);
  }

  /* line 91, ../sass/common.scss */
  43%,44%,47%,49%,53%,55%,57%,59% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 94, ../sass/common.scss */
  60% {
    -webkit-transform: rotate(0deg);
  }
}

/* line 99, ../sass/common.scss */
.lightBtn {
  border: 2px solid #600;
}
/* line 102, ../sass/common.scss */
.lightBtn:hover {
  -webkit-animation: light 2s  ease-in-out infinite 1s;
}

@-webkit-keyframes light {
  /* line 107, ../sass/common.scss */
  0%,99.99%,100% {
    -webkit-box-shadow: 0 0 3px rgba(255, 255, 200, 0.5);
  }

  /* line 110, ../sass/common.scss */
  50% {
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 200, 0.5), 0 0 20px rgba(255, 255, 200, 0.5), 0 0 20px rgba(255, 255, 200, 0.5), 0 0 20px rgba(255, 255, 200, 0.5);
  }
}

/* line 117, ../sass/common.scss */
.p {
  height: 480px;
  font-size: 30px;
  background: #F0F0F0;
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
}

/* line 124, ../sass/common.scss */
nav {
  position: relative;
  width: 740px;
}

/* line 128, ../sass/common.scss */
a.home {
  width: 120px;
  height: 120px;
  background: #f40;
  display: inline-block;
  border-radius: 60px;
  position: relative;
  text-align: center;
  line-height: 120px;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

/* line 144, ../sass/common.scss */
ul.circle {
  position: absolute;
  top: 77px;
  left: 100px;
  list-style: none;
  top: 0;
  left: 90px;
}
/* line 151, ../sass/common.scss */
ul.circle li {
  background: #fff;
  border: 2px solid #f50;
  width: 100px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
}
/* line 160, ../sass/common.scss */
ul.circle li a {
  color: #f50;
  font-size: 30px;
  text-decoration: none;
}

/* line 167, ../sass/common.scss */
.one {
  -webkit-animation: one 1s ease-in-out 0s;
}

/* line 170, ../sass/common.scss */
.two {
  -webkit-animation: one 1s ease-in-out 0.3s;
}

/* line 173, ../sass/common.scss */
.three {
  -webkit-animation: one 1s ease-in-out 0.6s;
}

/* line 176, ../sass/common.scss */
.four {
  -webkit-animation: one 1s ease-in-out 0.9s;
}

/* line 179, ../sass/common.scss */
.five {
  -webkit-animation: one 1s ease-in-out 1.2s;
}

@-webkit-keyframes one {
  /* line 184, ../sass/common.scss */
  50% {
    -webkit-transform: translateY(-32px);
  }

  /* line 185, ../sass/common.scss */
  94% {
    -webkit-transform: translateY(3px);
  }

  /* line 186, ../sass/common.scss */
  0%,100% {
    -webkit-transform: translateY(0px);
  }
}

/* line 190, ../sass/common.scss */
.path {
  width: 500px;
  height: 333px;
  position: relative;
  background: url("../images/img1.jpg") no-repeat;
  -webkit-background-size: cover;
}

/* line 197, ../sass/common.scss */
.menuBlur {
  background: rgba(255, 255, 255, 0.4);
  -webkit-filter: blur(3px);
}

/* line 205, ../sass/common.scss */
menu, .menuBlur, .blur {
  width: 500px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0;
  margin: 0;
  padding: 0;
}
/* line 214, ../sass/common.scss */
menu button, .menuBlur button, .blur button,
menu label,
.menuBlur label,
.blur label {
  position: absolute;
  left: 20px;
  bottom: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
/* line 224, ../sass/common.scss */
menu button, .menuBlur button, .blur button {
  left: 22px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  font-size: 14px;
  padding: 1px 2px;
  background: #fff;
  border: 2px solid #f50;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 236, ../sass/common.scss */
menu label, .menuBlur label, .blur label {
  width: 42px;
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  font-size: 40px;
  font-weight: bold;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6666), to(#cc0000));
  background: -moz-linear-gradient(top, #ff6666, #cc0000);
  box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 3px;
}
/* line 249, ../sass/common.scss */
menu input, .menuBlur input, .blur input {
  display: none;
}
/* line 252, ../sass/common.scss */
menu :checked ~ label > span.rotate-button, .menuBlur :checked ~ label > span.rotate-button, .blur :checked ~ label > span.rotate-button {
  -webkit-transform: rotate(675deg);
  -moz-transform: rotate(675deg);
}
/* line 256, ../sass/common.scss */
menu :checked ~ button:nth-child(2), .menuBlur :checked ~ button:nth-child(2), .blur :checked ~ button:nth-child(2) {
  -webkit-transform: translate(60px, 0px) rotate(360deg);
  -moz-transform: translate(60px, 0px) rotate(360deg);
}
/* line 261, ../sass/common.scss */
menu :checked ~ button:nth-child(3), .menuBlur :checked ~ button:nth-child(3), .blur :checked ~ button:nth-child(3) {
  -webkit-transform: translate(120px, 0px) rotate(360deg);
  -moz-transform: translate(120px, 0px) rotate(360deg);
}
/* line 265, ../sass/common.scss */
menu :checked ~ button:nth-child(4), .menuBlur :checked ~ button:nth-child(4), .blur :checked ~ button:nth-child(4) {
  -webkit-transform: translate(180px, 0px) rotate(360deg);
  -moz-transform: translate(180px, 0px) rotate(360deg);
}
/* line 269, ../sass/common.scss */
menu :checked ~ button:nth-child(5), .menuBlur :checked ~ button:nth-child(5), .blur :checked ~ button:nth-child(5) {
  -webkit-transform: translate(240px, 0px) rotate(360deg);
  -moz-transform: translate(240px, 0px) rotate(360deg);
}
/* line 273, ../sass/common.scss */
menu :checked ~ button:nth-child(6), .menuBlur :checked ~ button:nth-child(6), .blur :checked ~ button:nth-child(6) {
  -webkit-transform: translate(300px, 0px) rotate(360deg);
  -moz-transform: translate(300px, 0px) rotate(360deg);
}
/* line 277, ../sass/common.scss */
menu :checked ~ button:nth-child(7), .menuBlur :checked ~ button:nth-child(7), .blur :checked ~ button:nth-child(7) {
  -webkit-transform: translate(360px, 0) rotate(360deg);
  -moz-transform: translate(360px, 0) rotate(360deg);
}
/* line 281, ../sass/common.scss */
menu input ~ label > span.rotate-button, .menuBlur input ~ label > span.rotate-button, .blur input ~ label > span.rotate-button {
  display: inline-block;
  -webkit-transition: all .28s ease;
  -moz-transition: all .28s ease;
}
/* line 286, ../sass/common.scss */
menu button:nth-child(2), .menuBlur button:nth-child(2), .blur button:nth-child(2) {
  -webkit-transition: all .23s ease;
  -moz-transition: all .23s ease;
}
/* line 290, ../sass/common.scss */
menu button:nth-child(3), .menuBlur button:nth-child(3), .blur button:nth-child(3) {
  -webkit-transition: all .17s ease;
  -moz-transition: all .17s ease;
}
/* line 294, ../sass/common.scss */
menu button:nth-child(4), .menuBlur button:nth-child(4), .blur button:nth-child(4) {
  -webkit-transition: all .13s ease;
  -moz-transition: all .13s ease;
}
/* line 298, ../sass/common.scss */
menu button:nth-child(5), .menuBlur button:nth-child(5), .blur button:nth-child(5) {
  -webkit-transition: all .09s ease;
  -moz-transition: all .09s ease;
}
/* line 302, ../sass/common.scss */
menu button:nth-child(6), .menuBlur button:nth-child(6), .blur button:nth-child(6) {
  -webkit-transition: all .06s ease;
  -moz-transition: all .06s ease;
}
/* line 306, ../sass/common.scss */
menu button:nth-child(7), .menuBlur button:nth-child(7), .blur button:nth-child(7) {
  -webkit-transition: all .03s ease;
}

/* line 312, ../sass/common.scss */
.blur {
  margin: 0 auto;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
}

/* タブ */
/* line 326, ../sass/common.scss */
.tab {
  margin: 0 auto;
  width: 320px;
}
/* line 329, ../sass/common.scss */
.tab .menu {
  margin-bottom: -2px;
  padding-left: 5px;
  position: relative;
  z-index: 10;
  overflow: hidden;
  zoom: 1;
}
/* line 336, ../sass/common.scss */
.tab .menu .tabMenu a {
  margin-right: 5px;
  width: 96px;
  height: 30px;
  background-color: #333;
  border: 1px solid #777;
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  display: block;
  float: left;
  position: relative;
  top: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}
/* line 353, ../sass/common.scss */
.tab .menu .tabMenu a.current {
  padding-top: 7px;
  background: #f50;
  top: 0;
  color: #333;
}
/* line 361, ../sass/common.scss */
.tab .tabBox {
  padding: 12px 10px 10px 10px;
  border: 2px solid #777;
  text-align: center;
  background: #f50;
}

/* line 369, ../sass/common.scss */
.Text {
  text-align: left;
  color: #fff;
  font-size: 100%;
}

/* line 378, ../sass/common.scss */
.arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  height: 20px;
  line-height: 1;
  margin-top: -10px;
  transition: .3s;
  color: #f50;
  text-shadow: none;
}
/* line 388, ../sass/common.scss */
.arrow:before {
  font-size: 20px;
  content: ">";
  background: #fff;
  border-radius: 50%;
  padding: 3px 10px;
  color: #f50;
  box-shadow: 0 0 3px solid rgba(0, 0, 0, 0.7);
}

/* line 398, ../sass/common.scss */
.rotate {
  color: #fff;
  -webkit-transform: rotate(90deg);
}

/* line 404, ../sass/common.scss */
ul#menu {
  width: 320px;
  list-style: none;
  font-size: 16px;
  line-height: 1;
  background: #FF7542;
  margin: 0;
  padding: 0;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
}
/* line 413, ../sass/common.scss */
ul#menu li {
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.6);
  font-size: 20px;
  border-top: 1px solid #f50;
  border-bottom: 1px solid #666;
}
/* line 418, ../sass/common.scss */
ul#menu li a {
  display: block;
  position: relative;
  color: #fff;
  padding: 15px 45px;
  transition: 3s;
}
/* line 424, ../sass/common.scss */
ul#menu li a:before {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 24px;
  color: #fff;
  margin-top: -10px;
}
/* line 433, ../sass/common.scss */
ul#menu li:first-child a {
  border-top: 0px;
}
/* line 436, ../sass/common.scss */
ul#menu li ul {
  list-style: none;
  padding: 0;
}
/* line 439, ../sass/common.scss */
ul#menu li ul li {
  background: #fff;
  margin: 0;
  padding: 0;
  border-top: 1px solid #888;
  border-bottom: none;
}
/* line 445, ../sass/common.scss */
ul#menu li ul li a {
  position: relative;
  background: none;
  line-height: 1;
  padding: 15px 70px;
  color: #555;
  text-shadow: none;
  border-top: 1px solid rgba(255, 100, 0, 0.3);
}
/* line 453, ../sass/common.scss */
ul#menu li ul li a:before {
  position: absolute;
  top: 50%;
  left: 45px;
  content: "▷";
  font-size: 16px;
  color: #f40;
  margin-top: -8px;
  transition: .3s;
}
/* line 464, ../sass/common.scss */
ul#menu li ul li:first-child a {
  border-top: none;
}
/* line 467, ../sass/common.scss */
ul#menu li ul li:last-child a {
  border-bottom: 1px solid #ddd;
}

/* line 477, ../sass/common.scss */
body#modal {
  background-color: #ddd;
  font: 100%/1.5 sans-serif;
  width: 320px;
  height: 1000px;
}

/* line 483, ../sass/common.scss */
label {
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: top;
}

/* line 495, ../sass/common.scss */
input {
  background-color: transparent;
  border-color: transparent;
  height: 0;
  outline: 0;
  position: relative;
  width: 0;
}
/* line 502, ../sass/common.scss */
input:focus + .modal {
  display: inline-block;
  vertical-align: top;
}

/* line 507, ../sass/common.scss */
.modal {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 320px;
  height: 100%;
}
/* line 518, ../sass/common.scss */
.modal .modalContent ul.menuList {
  list-style: none;
  width: 270px;
  display: block;
  overflow: hidden;
  position: relative;
}
/* line 524, ../sass/common.scss */
.modal .modalContent ul.menuList li {
  float: left;
  margin-left: 6px;
}
/* line 527, ../sass/common.scss */
.modal .modalContent ul.menuList li a {
  width: 67px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#444444));
  border: 1px solid #333;
  box-shadow: none;
}
/* line 538, ../sass/common.scss */
.modal .modalContent ul.menuList li a.first {
  width: 30px;
  height: 260px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 545, ../sass/common.scss */
.modal .modalContent ul.menuList li a.last {
  width: 30px;
  height: 260px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 555, ../sass/common.scss */
.modal .modalContent img {
  position: absolute;
  top: 30px;
  left: 5px;
  display: block;
  width: 300px;
  height: auto;
}
/* line 563, ../sass/common.scss */
.modal .modalContent p.close {
  color: #fff;
  position: absolute;
  top: 20px;
  left: 5px;
  font-weight: bold;
  font-size: 12px;
  left: 6px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  padding: 2px 4px;
}

/* line 582, ../sass/common.scss */
#card {
  border: 1px solid #999;
  width: 320px;
  height: 420px;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d;
}

/* line 590, ../sass/common.scss */
#face {
  padding: 5px;
  width: 310px;
  height: 410px;
  background: #222;
}

/* line 597, ../sass/common.scss */
#front, #back, .cardImage figure {
  background: #f50;
  position: absolute;
  width: 310px;
  height: 410px;
  -webkit-backface-visibility: hidden;
  text-align: center;
  line-height: 310px;
  font-size: 30px;
}

/* line 608, ../sass/common.scss */
#back {
  background: #ff9;
  position: absolute;
  -webkit-backface-visibility: hidden;
}

/* line 615, ../sass/common.scss */
.reversed {
  -webkit-transform: rotateY(180deg);
}

/** Animation: Turn Left **/
/* line 620, ../sass/common.scss */
.turnleft {
  -webkit-animation-duration: 300ms;
  -webkit-animation-name: turnleft;
}

@-webkit-keyframes turnleft {
  /* line 626, ../sass/common.scss */
  0% {
    -webkit-transform: rotateY(0deg);
  }

  /* line 627, ../sass/common.scss */
  100% {
    -webkit-transform: rotateY(180deg);
  }
}

/** Animation: Turn Right **/
/* line 631, ../sass/common.scss */
.turnright {
  -webkit-animation-duration: 300ms;
  -webkit-animation-name: turnright;
}

@-webkit-keyframes turnright {
  /* line 637, ../sass/common.scss */
  0% {
    -webkit-transform: rotateY(0deg);
  }

  /* line 638, ../sass/common.scss */
  100% {
    -webkit-transform: rotateY(-180deg);
  }
}

/* line 644, ../sass/common.scss */
.cardImage {
  width: 320px;
  height: 420px;
  position: relative;
  float: left;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
}

/* line 656, ../sass/common.scss */
.cardImage figure {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: transform 1s;
}
/* line 668, ../sass/common.scss */
.cardImage figure.front {
  background: #f50;
}
/* line 671, ../sass/common.scss */
.cardImage figure.back {
  background: #ff9;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/* line 679, ../sass/common.scss */
.fliped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
